<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>2.key原理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/vue.js"></script>
</head>

<body>


    <div id="app">
        <!-- 普通遍历 -->
        <h2>遍历数组</h2>
        <button @click="addPerson">新增一个对象</button>
        <ul>
            <!-- 带key -->
            <li :key="p.id" v-for="p in persons">
                {{p.id}}----{{p.name}}----{{p.age}}
                <input type="text">
            </li>


            <!-- 不带key -->
            <!--    <li  v-for="p in persons">
                {{p.id}}----{{p.name}}----{{p.age}}
                <input type="text">
            </li> -->
        </ul>

        <hr>

        <script>
            new Vue({
                el: " #app ",
                data: {
                    persons: [{
                        id: 001,
                        name: "张三 ",
                        age: 17
                    }, {
                        id: 002,
                        name: "李四 ",
                        age: 27
                    }, {
                        id: 003,
                        name: "王五 ",
                        age: 37
                    }, ]
                },
                methods: {
                    addPerson() {
                        this.persons.unshift({
                            id: 004,
                            name: "老六",
                            age: 66
                        });
                    }
                },
            })
        </script>
</body>

</html>