<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>5.列表排序</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/vue.js"></script>
</head>

<body>

    <div id="app">

        <h2>人员列表</h2>
        <input type="text" v-model="keyWord">
        <button @click="sortType=1">年龄升序</button>
        <button @click="sortType=2">年龄降序</button>
        <button @click="sortType=0"> 年龄原序</button>
        <ul>
            <li :key="p.id" v-for="p in filerPersons">
                {{p.id}}----{{p.name}}----{{p.age}}
                <input type="text">
            </li>
        </ul>

    </div>

    <script>
        new Vue({
            el: " #app ",
            data: {
                persons: [{
                    id: 001,
                    name: "马冬梅",
                    age: 47
                }, {
                    id: 002,
                    name: "周冬雨",
                    age: 24
                }, {
                    id: 003,
                    name: "周杰伦",
                    age: 17
                }, {
                    id: 004,
                    name: "周大梅",
                    age: 27
                }, ],
                sortType: 0,
                keyWord: ""
            },
            computed: {
                filerPersons() {
                    const arr = this.persons.filter((item) => {
                        return item.name.indexOf(this.keyWord) != -1
                    })


                    //是否排序
                    if (this.sortType) {
                        arr.sort((p1, p2) => {
                            return this.sortType === 1 ? p1.age - p2.age : p2.age - p1.age;
                        })
                    }
                    return arr;


                }
            }
        })
    </script>
</body>

</html>