<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3.插值语法实现_计算属性方式实现</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 

计算属性:
1.定义:要用的属性不存在,要通过已有属性计算得来。
2.原理:底层借助了objcet.defineproperty方法提供的getter和setter.
3.get函数什么时候执行?、
    (1).初次读取时会执行一次。
    (2).当依赖的数据发生改变时会被再次调用。
4.优势:与methods实现相比,内部有缓存机制(复用),效率更高,调试方便。
5,备注:
    1,计算属性最终会出现在vm上,直接读取使用即可。
    2,如果计算属性要被修改,那必须写set两数去响应修改,且set中要引起计算时依赖的数据发生改变

     -->


    <div id="app">

        <label>姓：</label><input type="text" v-model="firstName"><br>
        <label>名：</label><input type="text" v-model="lastName"><br>
        <span>全名：{{fullName}}</span><br>
        <span>全名：{{fullName}}</span><br>


    </div>
</body>
<script>
    const vm = new Vue({

        el: "#app",
        data: {
            firstName: "",
            lastName: "",
        },
        //计算属性
        computed: {
            fullName: {
                //get什么时候被调用？
                //1.第一初始化读取funllName
                //2.所依赖的数据改变被调用
                get() {
                    console.log("get执行了")
                    return this.firstName + "--" + this.lastName
                },
                //set什么时候被调用
                // 当fullName被修改时
                set(value) {
                    this.firstName = value
                }

            }
        }

    })
</script>

</html>